body{
    background: linear-gradient(#44929e , #000000);
    font-family: 'Urbanist', sans-serif;

}
    
.Detalle{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}

.DetalleDetail{
    color: #777;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-top: 5px;
    width: 45%;
    background: rgb(108, 125, 124);
    border-radius: 10px;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
}


.button-54 {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .radio-button{
    color: white;
  }
  
  .button-54:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }
  
  @media (min-width: 768px) {
    .button-54 {
      padding: 0.25em 0.75em;
    }
  }
.TituloC{
    color: white;
    font-size: 65px;

}
.Buscador{
    margin-top: 20px;
}
.Header{
    font-size: 75px;
    background-image: url(./BackgroundIMG.webp);
    width: 100%;
    height: 250px;
    margin-top: 10px;
}
.Header h1{
    color: #fff;
    margin-top: 10px;
}
img{
    width:100%;
}

.bullet{
list-style-type: none;
}

.logo{
   margin: auto;
   width: 20%;
}


header article{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer{
    color: white;
    display: flex; justify-content: center;
    font-family: 20px;
}

.letrablanca{
    color: white;
    list-style-type: none;
    text-decoration: none;
}


section h2 {
    font-size: 28px;
}


.botonenviar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.peliculas_home {
    width: 18%;
    text-align: center; 
    padding: 2%; 
}
.peliculas_home img {
    width: 100%;
    border-radius: 50%;
}

.Navegador{
    color: #fff;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;

}
nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #55b9c0;
    color: #fff
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.main-nav {
    gap: 12px,
}

li a:hover {
    color: black;
    
}

.main-nav li,
.user li {
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.main-nav li:first-child {
    font-weight: bold;
}

.user img {
    width: 30px;
    border-radius: 90%;
    margin-left: 10px;
}

h1,h2 {
    font-weight: 400;
}

h1,
main {
    padding: 0 30px;
}
.card-container {
    margin-top: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.character-card{
    color: #777;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 5px;
    width: 20%;
    background: rgb(108, 125, 124);
    border-radius: 5px;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);    
}
.character-card img{
    width: 100%;
    margin-bottom: 20px; 
}
.character-card:hover,
.active{
box-shadow: 0rem 0rem 10px 8px rgb(58 59 69 / 25%);
}
.character-card p {
    margin: 3px 0;
    color: white;
    list-style-type: none;
    text-decoration: none;
}
.character-card h2 {
    margin: 2px 0;
    color: white;
    list-style-type: none;
    text-decoration: none;
}

.VerMas {
    display: none;
}
.VerMenos{
    display: block;
}

@media (max-width:420px){

.atributoflex article{
    width: 49.7%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.atributoflex2 article {
    width: 49.7%;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.atributoflex3 article{
    width: 49.7%;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.menu{

text-align: center;

}
header article{
    flex-direction: column;
}

.buscador{
    display: none;
}
    
.Responsivetext ul{
    list-style-type: none;
    text-decoration: none;
    padding-left: 1px;
}
.responsiveformulario{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


}


